body, html{
    margin:0;
    padding: 0;
	font-family: Times New Roman;font-family1: Verdana;
	font-size:1em;
}

h1 {color1:#090; color:#888; color1:#079; color1:#946; font-size: 1.8em; text-indent: 0px; padding-top:10; margin:100 0 25 0; text-decoration1:underline;}
h2 {color1:#195; color:#888; color1:#079; color1:#685; font-size: 1.6em; text-indent: 50px; padding-top:10; margin:80 0 20 0; text-decoration1:underline;}
h3 {color1:#195; color:#888; color1:#079; color1:#685; font-size: 1.4em; text-indent: 100px; padding-top:10; margin:40 0 15 0; text-decoration1:underline;}
h4 {color1:#195; color:#888; color1:#079; color1:#947; font-size: 1.2em; text-indent: 150px; padding-top:10; margin:30 0 10 0; text-decoration1:underline;}
h5 {color1:#c35; color:#888; color1:#079; color1:#640; font-size: 1em; text-indent: 200px; padding-top:10; margin:20 0 5 0; text-decoration1:underline;}
h6 {color1:#c35; color:#888; color1:#079; color1:#640; font-size: 1em; text-indent: 250px; padding-top:10; margin:10 0 3 0; font-style: italic; text-decoration1:underline;}

/*h1:before{content: '\25FE';  margin:0 10px;} h1:after{content: '\25FE';  margin:0 10px;}*/

/*h1:before{content: '';  margin:0 10px;} h1:after{content: '';  margin:0 10px;}
h2:before{content: '\2013';  margin:0 10px;} h2:after{content: '\2013';  margin:0 10px;}
h3:before{content: '\2013\2013';  margin:0 10px;} h3:after{content: '\2013\2013';  margin:0 10px;}
h4:before{content: '\2013\2013\2013';  margin:0 10px;} h4:after{content: '\2013\2013\2013';  margin:0 10px;}
h5:before{content: '\2013\2013\2013\2013';  margin:0 10px;} h5:after{content: '\2013\2013\2013\2013';  margin:0 10px;}
h6:before{content: '\2013\2013\2013\2013\2013';  margin:0 10px;} h5:after{content: '\2013\2013\2013\2013\2013';  margin:0 10px;}*/

/*h1:before{content: '';  margin:0 10px;} h1:after{content: '';  margin:0 10px;}
h2:before{content: '\003E';  margin:0 10px;} h2:after{content: '';  margin:0 10px;}
h3:before{content: '\003E\0020\003E';  margin:0 10px;} h3:after{content: '';  margin:0 10px;}
h4:before{content: '\003E\0020\003E\0020\003E';  margin:0 10px;} h4:after{content: '';  margin:0 10px;}
h5:before{content: '\003E\0020\003E\0020\003E\0020\003E';  margin:0 10px;} h5:after{content: '';  margin:0 10px;}
h6:before{content: '\003E\0020\003E\0020\003E\0020\003E\0020\003E';  margin:0 10px;} h5:after{content: '';  margin:0 10px;}*/

/*h1:before{content: '';  margin:0 10px;} h1:after{content: '';  margin:0 10px;}
h2:before{content: '\002D';  margin:0 10px;} h2:after{content: '';  margin:0 10px;}
h3:before{content: '\002D\0020\002D';  margin:0 10px;} h3:after{content: '';  margin:0 10px;}
h4:before{content: '\002D\0020\002D\0020\002D';  margin:0 10px;} h4:after{content: '';  margin:0 10px;}
h5:before{content: '\002D\0020\002D\0020\002D\0020\002D';  margin:0 10px;} h5:after{content: '';  margin:0 10px;}
h6:before{content: '\002D\0020\002D\0020\002D\0020\002D\0020\002D';  margin:0 10px;} h5:after{content: '';  margin:0 10px;}*/

.header{
    text-align: center;
    padding:0 0 0 0;
    border-bottom:1px solid #ddd;
    overflow1:auto;/*removes gaps appearing between block elements due to margin of their childs!*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header > table, th, td{
	 border: 0px; 
	 margin:0; 
	 padding:0;
}
    
.content{
    margin:0 50 0 50;
    overflow1:auto;/*off to allow window horizontal scrollbar*//*removes gaps appearing between block elements due to margin of their childs!*/
}

.footer{
    overflow:auto;/*removes gaps appearing between block elements due to margin of their childs!*/
    border-top:1px solid #ddd;
    padding:20 0 20 0;
    text-align:center;
    display:flex;
    align-content1:center;
    justify-content:center;
}

.attention{font-style:italic;font-weight:bold;color1:#503;}
.screenshot_title{}
.title_column{white-space: nowrap;font-weight:bold;}
.title_column_center{white-space: nowrap;font-weight:bold;text-align:center;}

p {   margin1: 0;    margin-top:10;    padding1: 0;}
table { margin-top:20; margin-bottom:10; border-collapse: collapse; border-color: grey; }
table, th, td {border: 1px solid grey; }
th {color:#000; font-style:italic;}
th, td {margin:5; padding:5;}
img1 {max-width: 1200px; max-height: 700px; margin-top:20; margin-bottom:30;display:block;}
a:link {  text-decoration: none;color: #00b;}
a:visited {  text-decoration: none;color: #00b;}
a:hover {  text-decoration: underline;color: #00b;}
a:active {  text-decoration: underline;color: #00b;}


a1[href*=\#] {/*internal links*/
	background-color:lightgreen; 
}

.item {color1:#520; margin:0 0 0 0; text-align:left; font-weight1:bold;}
.subheader {font-family1: Sans-Serif;color:#070;color1:#a07; font-weight:bold; font-size:1.2em;}
